#usage {
  margin: auto;
  background-color: lightslategray;
  padding: 2rem;

  .usage-intro {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    h3 {
      color: turquoise;
      text-decoration: underline;
    }
  }

  .usage-info {
    margin: auto;
    font-size: 1.2rem;
    h3 {
      color: turquoise;
      text-decoration: underline;
    }

    .usage-info-text {
      width: 50%;
      margin: auto;
    }

    .usage-info-image {
      text-align: center;
    }
  }
}
